.App {
    text-align: center;
    padding-bottom: 2rem;
    font-weight: 600;
    font-family: roboto;
  }
  .bm-overlay{
    width: 40% !important;
    background: rgba(0, 0, 0, 0.84) !important;
  }

  .headerContainer{
    display: flex;
    justify-content: space-between;
    margin: 0px 20px;
    font-size: 0.8rem;
  }
  
  .bm-menu{
    width: 80%;
  }
  a.bm-item.menu-item {
    text-decoration: none;
    color: white;
}

  nav.bm-item-list {
    width: 80%;
  }

  a.bm-item.menu-item {
    margin: 2rem;
    margin-right: 0rem;
  }
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  .heroText{
    width: 60%;
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    flex: inherit;
    margin: 10% 2%;
  }

  .btn{
    width: 400px;
  }

  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .offers{

  }

  .App-link {
    color: #61dafb;
  }
  
  .estimate-container{
    padding: 1rem 1rem 1rem 1rem;
    width:auto;
    display: flex;
    justify-content: space-between;
  }

  .greenHero{
      color: #ec153f
  }

  .moreTransactions{
    text-align:end;
    text-decoration: none;
    font-size: 9px;
    color: black;
    cursor: pointer;
    p{
      margin: 4px 10px;
      font-size: 10px;
    }
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  