.detailText{
    width: 60%;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    flex: inherit;
    margin: 3% 0%;
}

.headerText{
    text-align: start;
    font-size: 20px;
    margin: 0px 2%;
}

.detailText{
    text-align: start;
    padding: 1% 0px;
    /* margin-bottom: 0%; */
    width: 60%;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    flex: inherit;
    margin: 0 auto;
    margin-bottom: 0;
}

  
.estimate-container{
    padding: 1rem 1rem 1rem 1rem;
    width: '95%';
    position: relative;
    display: flex;
  }

  .transactionContainer{
    margin: 20px 22px;
    justify-content: space-between;
    box-shadow: none;
  }

 

.details-container{
    margin-bottom: 5px;
    padding: 1rem 3rem 1rem 0rem;
    width: 100%;
    display: flow-root;
    justify-content: space-between;
    padding-top: 0px;
    margin: 0 auto;
    .label{
        flex: 1 1;
        font-weight: 600;
        font-size: 13.5px;
        letter-spacing: 0.5px;
        margin-bottom: 10px;
        margin-top: 15px;
    }
    .value{
        text-align: start;
        flex: 5 1;
        justify-content: inherit;
        font-size: 13px;
        &.edit{
            display: block;
        text-align: center;
        }
        img{
            font-size: 3px;
            width: 10px;
            cursor: pointer;
        }
        p {
            margin: 2%;
        }
    }
}

.trasactionDetails{
    width: 50%;
    flex:4;
    display: flex;
    align-items: center;
    justify-content: center;
    /* You can set flex-wrap and
       flex-direction individually */
    flex-direction: row;
    flex-wrap: wrap;
    /* Or do it all in one line
      with flex flow */
    flex-flow: row wrap;
    /* tweak where items line
       up on the row
       valid values are: flex-start,
       flex-end, space-between,
       space-around, stretch */
    align-content: flex-start;
    border-left-style: solid;
    padding-left: 50px;
    border-left-width: 1.5px;
    border-left-color: #f7f7f7;
    /*you border*/
    background: linear-gradient(#2662c3, #2662c3) center/100% 0.5px no-repeat;
    
}

.transactionFields{
    width:33%;
    height: 25%;
    flex: 1 1 1
}

.userDetails{
    width: 50%;
    flex:1;
    text-align: center;
    .value{
        text-align: center;
    }
}

.nav-link{
    text-decoration: none;
}

.offers{
    margin: 0 auto;
    width: 40%;
    display: flex;
    margin-bottom: 50px;
}