.tradertransaction{
    .detailText{
    width: 60%;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    flex: inherit;
    margin: 3% 0%;
    }

.headerText{
    text-align: start;
    font-size: 15px;
    margin: 0px 3%;
    font-weight: 600;
}

.detailText{
    text-align: start;
    padding: 1% 0px;
    /* margin-bottom: 0%; */
    width: 60%;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    flex: inherit;
    margin: 0 auto;
    margin-bottom: 0;
}

a{
    text-decoration: none;
    color:black
}
  
.estimate-container{
    padding: 1rem 1rem 1rem 1rem;
    width: '95%';
    position: relative;
    display: block;
  }

  .transactionContainer{
    margin: 20px 22px;
    justify-content: space-between;
    box-shadow: none;
  }

 

.details-container{
    margin-bottom: 5px;
    padding: 1rem 1rem 0rem 0rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 0px;
    margin: 0 auto;
    border-bottom-style: solid;
    border-width: 0.1px;
    border-color: #f7f7f7;

    &.headers{
        padding: 0px;
        .label{
            width: 100%;
            padding: 5px 0px;
            font-size: 15px;
            text-align: center;
            margin-top: 0px;

            p{
             margin-bottom: 0px;   
            }
        }

        .subheader{
            text-align: start;
            margin-top: 40px;
        }
    }

    .label{
        text-align: start;
        width: 55%;
        font-weight: 600;
        font-size: 12.5px;
        letter-spacing: 0.5px;
        margin-bottom: 10px;
        margin-top: 20px;

        p{
            margin-bottom: 0px;   
            color: #8080807a;
        }

    }
    .value{
        margin-top: 7px;
        text-align: end;
        flex: 1 1;
        justify-content: end;
        font-size: 13px;

        &.labels{
            text-align: end;
            margin: 18px;
            margin-right: 0px;
            margin-bottom: 0px;
            width: min-content;
        }

        img{
            font-size: 3px;
            width: 10px;
            cursor: pointer;
        }
        p {
            margin: 1%;
        }
    }
}

.trasactionDetails{
    width: 100%;
    flex:4;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    align-content: flex-start;
    padding-left: 0px;
    .details-container{
        margin-bottom: 5px;
        padding: 1rem 1rem 0rem 0rem;
        width: auto;
        display: flex;
        justify-content: space-between;
        padding-top: 0px;
        margin: 0 auto;
        label{
            p{
                margin-bottom: 0px;   
               }
        }
        &.headers{
            padding: 0px;
            .label{
                padding: 0px;
                margin: 0;

                p{
                    margin-bottom: 0px;   
                }
            }
        }

        .label{
            text-align: start;
            width: 100%;
            font-weight: 600;
            font-size: 12px;
            letter-spacing: 0.5px;
            margin-bottom: 10px;
            margin-top: 15px;

            p {
                margin-bottom: 0px;   
            }
        }
        .value{
            margin-bottom: 10px;
            margin-top: 5px;
            text-align: end;
        }
    }
}

.transactionFields{
    width:50%;
    flex: 1 1 1;
    .details-container{
        display: block;
        .label{
            p{
                margin-bottom: 0px;   
               }
        }
    }
}

.userDetails{
    width: 100%;
    flex:1;
    text-align: center;
    .value{
        text-align: end;
        margin-top: 17px;
    }
}

.nav-link{
    text-decoration: none;
}

.offers{
    margin: 0 auto;
    width: 40%;
    display: flex;
    margin-bottom: 50px;
}

.labels{
    text-align: end;
    margin: 18px;
    margin-right: 0px;
    margin-bottom: 0px;
    width: min-content;
}
}